body {
    font-family: "Roboto", sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.section {
    background-color: #1f2937;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
}

.header {
    color: white;
}

.title {
    font-weight: 800;
    font-size: 24px;
}

.title.main-text {
    font-size: 48px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

.sign-up {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sign-up .image {
    background-color: grey;
    color: darkslategrey;
    flex: 1;
    align-content: center;
    justify-content: center;
    text-align:center;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-left: 100px;
}

.sign-up .form {
    flex: 1;
    align-content: center;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.section.info {
    color: #1f2937;
    background-color: white;
    padding-bottom: 100px;
}

.info.title {
    font-size: 36px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

.info.subtext {
    display: flex;
    justify-content: center;
    gap: 44px;
}

.subtext .illustration {
    width: 188px;

}

.placeholder {
    border:  4px #3882F6;
    border-style: solid;
    border-radius: 8px;
    height: 129px;
    margin-bottom: 16px;
}

.alt-text {
    text-align: center;
    font-style: italic;
}

.section.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding-left: 400px;
    padding-right: 400px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 100px;
    gap: 24px;
}

.actual-quote {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
}

.quote-author {
    text-align: right;
    height: auto;
    width: auto;
}

.section.action {
    background-color: white;
    display: flex;
    height: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.window {
    background-color: #3882F6;
    flex: 1;
    border-radius: 8px;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    justify-content: space-between;
    align-items: center;
}

.inverse {
    border-color: #e5e7eb;
    border-style: solid;
}

.action-text {
    color: #e5e7eb;
}

.footer.section {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.copyright {
    color:#e5e7eb;
}